/* Index - Begin */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*nav ul#nav-mobile li:hover {
    background-color: #424242;
}*/

.side-nav-pad {
    padding-left: 32px !important;
}
.carousel-item-background {
    background-position: 50%;
    background-size: cover;
}
.carousel-item-header,
.carousel-item-text {
    padding: 20px;
    /*background: white;
            opacity: 0.7;*/
    
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
.collection-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collection-item-noborder {
    border: none;
    margin-bottom: 2px;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.icon-block .mdi {
    font-size: inherit;
}
.casino-red-text {
    color: #bb2323 !important;
}
.casino-red {
    background-color: #bb2323 !important;
}
.parallax-container {
    height: 300px;
}
/* Index - End */

/* Games - Begin */
.about-block {
    width: *;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
/* Games - End */
